{% extends 'base.html' %}

{% block title %}Explore{% endblock %}

{% block pgtitle %}Explore{% endblock%}

{% block content %}
<div style="padding:20px">
  <h4>Recently Created Bookshelves:</h4>
</div>

{% if collection|length > 0 %}
<div class="shelves" style="padding:20px;font-size:24px;">
    {% set rows = ((collection|length - 1)/ 3)|int + 1 %}
      {% for x in range(0, rows) %}
        <div class="row">
          <div class="col-sm justify-content-center">
            {% set index = (collection|length - 1) - (x * 3) %}
            {% set shelf = collection[index] %}
            {% set shelfbooks = collection_bookinfo[index] %}
            <center>
              <p>
                <a href="{{ url_for('shelf', shelf_id=shelf[0]) }}"> {{ shelf[1] }} </a>
              </p>
              <div class="col-12">
                {% if shelfbooks|length > 0 %}
                  <center><p><img src={{shelfbooks[0].cover_url}} height="150px" width="100px">
                    {% if shelfbooks|length > 1%}
                      <img src={{shelfbooks[1].cover_url}} height="150px" width="100px"> <p></center>
                      {% if shelfbooks|length > 2%}
                        <center><p><img src={{shelfbooks[2].cover_url}} height="150px" width="100px">
                        {% if shelfbooks|length > 3%}
                          <img src={{shelfbooks[3].cover_url}} height="150px" width="100px"> </p></center>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                {% endif %}
              </div>
            </center>
          </div>
          <div class="col-sm justify-content-center">
            {% set index = index - 1 %}
            {% if index >= 0 %}
              {% set shelf = collection[index] %}
              {% set shelfbooks = collection_bookinfo[index] %}
              <center>
                <p>
                  <a href="{{ url_for('shelf', shelf_id=shelf[0]) }}"> {{ shelf[1] }} </a>
                </p>
                <div class="col-12">
                  {% if shelfbooks|length > 0 %}
                    <center><p><img src={{shelfbooks[0].cover_url}} height="150px" width="100px">
                      {% if shelfbooks|length > 1%}
                        <img src={{shelfbooks[1].cover_url}} height="150px" width="100px"> <p></center>
                        {% if shelfbooks|length > 2%}
                          <center><p><img src={{shelfbooks[2].cover_url}} height="150px" width="100px">
                          {% if shelfbooks|length > 3%}
                            <img src={{shelfbooks[3].cover_url}} height="150px" width="100px"> </p></center>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                  {% endif %}
                </div>
              </center>
              {% endif %}
          </div>
          <div class="col-sm justify-content-center">
            {% set index = index - 1 %}
            {% if index >= 0 %}
              {% set shelf = collection[index] %}
              {% set shelfbooks = collection_bookinfo[index] %}
              <center>
                <p>
                  <a href="{{ url_for('shelf', shelf_id=shelf[0]) }}"> {{ shelf[1] }} </a>
                </p>
                <div class="col-12">
                  {% if shelfbooks|length > 0 %}
                    <center><p><img src={{shelfbooks[0].cover_url}} height="150px" width="100px">
                      {% if shelfbooks|length > 1%}
                        <img src={{shelfbooks[1].cover_url}} height="150px" width="100px"> <p></center>
                        {% if shelfbooks|length > 2%}
                          <center><p><img src={{shelfbooks[2].cover_url}} height="150px" width="100px">
                          {% if shelfbooks|length > 3%}
                            <img src={{shelfbooks[3].cover_url}} height="150px" width="100px"> </p></center>
                          {% endif %}
                        {% endif %}
                      {% endif %}
                  {% endif %}
                </div>
              </center>
            {% endif %}
          </div>
          {% set index = index - 1 %}
        </div>

        {% endfor %}

    </div>
    {% else %}
      <p>No bookshelves exist yet!</p>
    {% endif %}
{% endblock %}
