{% extends 'base.html' %}

{% block title %}My Bookshelves{% endblock %}

{% block pgtitle %}My Bookshelves{% endblock%}

{% block content %}
<div class = "shelves">
  <!-- need to change so that it checks userid -->
  {% for shelf in bookshelves%}
    <div class="row">
      <div class="col">
        <a href="{{ shelf.title }}"> {{ shelf.title }} </a>
      </div>
      <div class = "col">
        <p>{{ shelf.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>

<div style="padding:20px">
  <form action="/newshelf" method="post">
    <button class="btn btn-dark" type="submit">Create New Bookshelf</button>
  </form>
</div>

{% endblock %}
