{% extends 'base.html' %}

{% block title %}My Bookshelves{% endblock %}

{% block pgtitle %}My Bookshelves{% endblock%}

{% block content %}
<div class = "shelves">
  <!-- need to change so that it checks userid -->
  {% for shelf in bookshelves%}
    <div class="row">
      <div class="col">
        <a href="{{ shelf.title }}"> {{ shelf.title }} </a>
      </div>
      <div class = "col">
        <p>{{ shelf.description }}</p>
      </div>
    </div>
  {% endfor %}
</div>
<div>
  <h5> Create New Bookshelf: </h5>
  <form action="{{ url_for('shelf', shelf_id = 2) }}" method = "post" id="newShelf">
    Name:        <input type="text" id="shelfName">
    <br>
    Description: <textarea name="shelfDesc" rows="3" cols="50"></textarea>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>
</div>

{% endblock %}
