{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block pgtitle %}
  {{ name }}
  <h5>{{ description }} </h5>

{% endblock %}

{% block style %}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
{% endblock %}

{% block content %}

<div style="padding:20px;" >
  <h4>Add Book</h4>
  <form action="/{{shelf_id}}/addbook" name="addBook" id="addBook" method="post">
    <div class="form-group">
      <input type="text" placeholder="Catch-22" name="newBook" id = "newBook">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</div>

{% if maybeBook %}
maybe
{% endif %}

{% if bookdata %}
    <div style="padding:20px;font-size:20px;">
      <p>{{ bookdata|length }} books in your shelf.</p>

      {% set rows = ((bookdata|length - 1)/ 3)|int + 1 %}
      <p>{{ rows }} rows.</p>

      {% for x in range(0, rows) %}
        {% set index = x * 3 %}
        {% if index < (bookdata|length) %}
        <div class="row" style="padding-bottom:10px">
          <div class="col-sm justify-content-center">
            <center>
              {% set book = bookdata[index] %}
              <p><a href="/book/{{book.id}}"><img src={{book.cover_url}} height="350px" width="250px"></a><p>
              <p><strong>{{book.title}}</strong>
                <a href="{{ url_for('delbook', shelf_id=shelf_id, book_id=book.id)}}"<button type="button" class="btn btn-danger">  &times;</button></a>
              </p>
              <p> by {{book.authors}}</p>
              <p>Index: {{ index }}</p?
            </center>
          </div>
          <div class="col-sm">
            <center>
              {% if (index + 1) < bookdata|length %}
              {% set book = bookdata[index + 1] %}
              <p><a href="/book/{{book.id}}"><img src={{book.cover_url}} height="350px" width="250px"></a><p>
              <p><strong>{{book.title}}</strong>
                <a href="{{ url_for('delbook', shelf_id=shelf_id, book_id=book.id)}}"<button type="button" class="btn btn-danger">  &times;</button></a>
              </p>
              <p> by {{book.authors}}</p>
              {% endif %}
            </center>
          </div>
          <div class="col-sm">
              <center>
                {% if (index + 2) < bookdata|length %}
                {% set book = bookdata[index+2] %}
                <p><a href="/book/{{book.id}}"><img src={{book.cover_url}} height="350px" width="250px"></a><p>
                <p><strong>{{book.title}}</strong>
                  <a href="{{ url_for('delbook', shelf_id=shelf_id, book_id=book.id)}}"<button type="button" class="btn btn-danger">  &times;</button></a>
                </p>
                <p>by {{book.authors}}</p>
                {% endif %}
              </center>
          </div>
        </div>
        {% endif %}

      <br>
      {% endfor %}
    </div>


{% endif %}

{% endblock %}
